body {
	font-family: 'Raleway', sans-serif;
	background-color: #FFE1CE;
}

img {
    width: 100%;
    max-width: 100%;
    margin: auto;
    height: auto;
    display: block;
    border: 3px solid black;
}
h1 {
    font-size: 48px;
}
.container1, .container2 {
    position: relative;
}
.center1, .center2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 108px;
    color: #FFE1CE;
    text-shadow: 4px 4px black;
    font-weight: bold;
}
ul {
    font-size:36px;
}
.list {
    position: relative;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    left: 27%;
    width: 45%;
    background-color: #FFFCF0;
    border-left: 8px solid #A66746;
}
p {
    font-size: 36px;
    text-align: center;
}
